
<!-- ADD MARKER TO FORM -->
<form class="form-inline" role="form">



  <div class="input-group">
    <span class="input-group-addon">Nazwa</span>
    <input type="text" class="form-control" placeholder="Restauracja pod Wawelem" id="marker_add_name">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Opis</span>
    <input type="text" class="form-control" placeholder="Centrum Warszawy" id="marker_add_description">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Katagoria</span>
    <select class="form-control" ng-options="category as category for category in categories" id="marker_add_category"></select>
  </div>

<!--   <div class="input-group">
    <span class="input-group-addon">Address</span>
    <input class="form-control" placeholder="53-625 Wrocław" id="marker_add_address">
  </div> -->

  <div class="input-group">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="input-group-addon">Lattitude</span>
          </span>
          <input type="text" class="form-control" placeholder="69.42341" id="marker_add_latitude">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->

      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="input-group-addon">Longitude</span>
          </span>
          <input type="text" class="form-control" placeholder="73.42341" id="marker_add_longitude">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div>



  <div class="form-group">
    <h4>Openning hours</h4>

    <div class="row">
      <h4 class="sr-only">Monday:</h4>

      <div class="col-md-6">
        <h6>Start</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_start_monday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_start_monday"></select>
      </div>

      <div class="col-md-6">
        <h6>End</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_end_monday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_end_monday"></select>
      </div>
    </div>

    <div class="row">
      <h4 class="sr-only">Tuesday:</h4>

      <div class="col-md-6">
        <h6>Start</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_start_tuesday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_start_tuesday"></select>
      </div>

      <div class="col-md-6">
        <h6>End</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_end_tuesday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_end_tuesday"></select>
      </div>
    </div>

    <div class="row">
      <h4 class="sr-only">Wednesday:</h4>

      <div class="col-md-6">
        <h6>Start</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_start_wednesday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_start_wednesday"></select>
      </div>

      <div class="col-md-6">
        <h6>End</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_end_wednesday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_end_wednesday"></select>
      </div>
    </div>

    <div class="row">
      <h4 class="sr-only">Thursday:</h4>

      <div class="col-md-6">
        <h6>Start</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_start_thursday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_start_thursday"></select>
      </div>

      <div class="col-md-6">
        <h6>End</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_end_thursday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_end_thursday"></select>
      </div>
    </div>

    <div class="row">
      <h4 class="sr-only">Friday:</h4>

      <div class="col-md-6">
        <h6>Start</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_start_friday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_start_friday"></select>
      </div>

      <div class="col-md-6">
        <h6>End</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_end_friday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_end_friday"></select>
      </div>
    </div>

    <div class="row">
      <h4 class="sr-only">Saturday:</h4>

      <div class="col-md-6">
        <h6>Start</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_start_saturday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_start_saturday"></select>
      </div>

      <div class="col-md-6">
        <h6>End</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_end_saturday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_end_saturday"></select>
      </div>
    </div>

    <div class="row">
      <h4 class="sr-only">Sunday:</h4>

      <div class="col-md-6">
        <h6>Start</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_start_sunday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_start_sunday"></select>
      </div>

      <div class="col-md-6">
        <h6>End</h6>
        <select class="form-control" ng-options="hour as hour for hour in hours" id="marker_add_hour_end_sunday"></select>
        <select class="form-control" ng-options="minute as minute for minute in minutes" id="minute_end_sunday"></select>
      </div>
    </div>
  </div>



  <input type="checkbox" id="marker_add_check_monday_to_friday" /> Check if Monday - Friday has same openning and closing hours

  <button type="submit" class="btn btn-default" id="marker_add_submit">Submit</button>




</form>
<!-- ADD MARKER TO FORM -->